#cerp-icon {
    width: 24px;
    height: 24px;
}

#user-profile-picture {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}

#sync-icon {
    width: 15px;
    height: 15px;
}