@import url('https://fonts.googleapis.com/css2?family=Lexend:ital,wght@500;0,700;1,400;1,700&display=swap');

body#ce-extension {
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.ce-login {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 599px;
    max-height: 600px;
    max-width: 375px;
    position: relative;
    width: 374px;
}

.ce-login__header {
    align-items: center;
    display: flex;
    flex-direction: column;
}

.ce-login__header::after {
    background-image: url("../images/header-abstract-shape.svg");
    background-position: top right;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
}

.ce-login__title {
    color: #14213d80;
    font-size: 12px;
    font-weight: 400;
    padding-top: 10px;
    text-align: center;
    width: 160px;
}

.ce-login__content {
    align-items: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 225px;
    padding-top: 60px;
    row-gap: 10px;
    width: 90%;
    z-index: 1;
}

.ce-login__btn--google {
    align-items: center;
    background-color: #fff;
    border: 1px solid #0000001a;
    border-radius: 5px;
    color: #555;
    cursor: pointer;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    font-size: 12px;
    font-weight: 500;
    justify-content: center;
    padding: 7px;
    width: 100%;
}

.ce-login__btn-icon {
    margin-right: 10px;
}

.ce-login__or {
    align-items: center;
    display: flex;
    justify-content: center;
}

.ce-login__line {
    background-color: #9993;
    height: 1px;
    width: 50px;
}

.ce-login__line--left {
    margin-right: 3px;
}

.ce-login__line--right {
    margin-left: 3px;
}

.ce-login__or-word {
    color: #eb1e4b;
    display: inline-block;
    font-size: 12px;
    font-weight: 500;
}

.ce-login__form {
    column-gap: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    max-width: 225px;
    row-gap: 25px;
    width: 100%;
}

.ce-login__field {
    display: flex;
    flex-direction: column;
}

.ce-login__label {
    color: #14213d;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
}

.ce-login__input {
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 5px;
    box-sizing: border-box;
    outline-color: #e42256;
    padding: 10px;
    width: 100%;
}

.ce-login__title {
    align-items: center;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.ce-login__reset {
    color: #e42256;
    cursor: pointer;
    font-size: 9px;
    font-weight: 400;
}

.ce-login__btn--signin {
    background: #e42256;
    border: none;
    border-radius: 10px;
    color: #fff;
    cursor: pointer;
    font-size: 12px;
    font-weight: 500;
    outline: none;
    padding: 10px;
}

.ce-login__text {
    color: #14213d80;
    font-size: 12px;
    font-weight: 400;
}

.ce-login__signup {
    color: #e42256;
    cursor: pointer;
    display: block;
    font-size: 12px;
    font-weight: 700;
    padding-bottom: 25px;
    text-align: center;
}
