@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@500;0,700;1,400;1,700&display=swap');

body#ce-extension {
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.ce-settings {
    display: flex;
    flex-direction: column;
    height: 599px;
    max-height: 600px;
    max-width: 375px;
    padding-left: 20px;
    padding-right: 20px;
    position: relative;
    width: 100%;
    width: 374px;
    /* background-color: red; */
}

.ce-settings::before {
    background-image: url("../images/header-abstract-shape.svg");
    background-position: top right;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.ce-settings__header {
    display: flex;
    justify-content: space-between;
    margin-bottom: 25px;
    padding-top: 20px;
}

.ce-settings__user-info {
    column-gap: 5px;
    display: flex;
}

.ce-settings__username {
    color: rgba(228, 34, 86, 0.50);
    font-size: 12px;
    font-weight: 400;
}

.ce-settings__user-details {
    align-items: flex-start;
    column-gap: 15px;
    display: flex;
    margin-bottom: 30px;
}

.ce-user-details {
    display: flex;
    flex-direction: column;
    height: 100%;
}

.ce-user-details__name {
    color: #14213D;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.ce-user-details span {
    color: #14213d80;
    display: block;
    font-size: 10px;
    font-weight: 400;
}

.ce-user-details__member-since {
    color: #14213d40;
    margin-top: auto;
}

.ce-user-details__link-icon {
    cursor: pointer;
}

.ce-settings__section {
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

.ce-settings__item {
    background: #fff;
    border: 1px solid #0000001a;
    border-radius: 10px;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    padding: 10px;
}

.ce-settings__item--content {
    column-gap: 10px;
    display: flex;
}

.ce-settings__item--heading {
    color: #14213D;
    font-size: 12px;
    font-weight: 700;
    white-space: nowrap;
}

.ce-settings__item:hover .ce-settings__item--heading {
    color: #e42256;
}

.ce-settings__sync--info {
    color: #14213d40;
    font-size: 10px;
    font-weight: 400;
}
