@import url('https://fonts.googleapis.com/css2?family=Fira+Sans:ital,wght@500;0,700;1,400;1,700&display=swap');

body#ce-extension {
    background-color: #f8f8f8;
    box-sizing: border-box;
    display: flex;
    font-family: 'Fira Sans', sans-serif;
    justify-content: center;
    margin: 0;
    padding: 0;
}
body#ce-extension * {
    box-sizing: border-box;
}

.ce-timetracking {
    align-items: center;
    display: flex;
    flex-direction: column;
    height: 599px;
    max-height: 600px;
    max-width: 375px;
    position: relative;
    width: 374px;
}

.ce-timetracking__header {
    background-color: #e42256;
    position: relative;
    width: 100%;
}

.ce-timetracking__header::before {
    background-image: url("../images/header-abstract-shape.svg");
    background-position: top right;
    background-repeat: no-repeat;
    content: "";
    height: 100%;
    position: absolute;
    width: 100%;
    z-index: -1;
}

.ce-timetracking__content {
    display: flex;
    justify-content: space-between;
    padding: 20px;
}

.ce-timetracking__user-info {
    column-gap: 5px;
    display: flex;
    justify-content: space-between;
}

.ce-timetracking__username {
    color: #ffffff80;
    font-size: 12px;
    font-weight: 400;
}

.ce-timetracking-timer {
    padding: 0 20px 20px;
}

.ce-timetracking-time {
    column-gap: 5px;
    display: flex;
    justify-content: center;
    margin-bottom: 25px;
}

.ce-timer__segment {
    color: #ffffff80;
    font-size: 12px;
    font-weight: 700;
}

.ce-timer__digit {
    color: #FFF;
    font-size: 40px;
    font-weight: 700;
}

.ce-timetracking__tasks {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.ce-tasks__task {
    column-gap: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 5px;
}

.ce-task__title {
    color: #FFF;
    font-size: 12px;
    font-weight: 700;
    margin: 0;
}

.ce-task__actions {
    column-gap: 5px;
    display: flex;
    align-items: center;
}

.ce-task__action {
    background: none;
    border: none;
    display: flex;
    outline: none;
    margin: 0;
    padding: 0;
}

.ce-action__icon {
    cursor: pointer;
}

.ce-timetracking__sessions {
    width: 100%;
    padding-right: 20px;
    padding-left: 20px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.ce-timetracking__sessions--title {
    display: flex;
    justify-content: space-between;
    margin: 20px 0 0;
    padding: 0 5px;
}

.ce-timetracking__sessions--heading {
    color: #E42256;
    font-size: 12px;
    font-weight: 600;
    margin: 0;
}

.ce-timetracking__sessions--subheading {
    color: #00000080;
    cursor: pointer;
    display: flex;
    font-size: 10px;
    font-weight: 400;
    margin: 0;
    white-space: nowrap;
}

.ce-sessions__charts {
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
    padding-left: 5px;
    padding-right: 5px;
}

.ce-charts__card {
    background: #fff;
    border: 1px solid #0000001a;
    border-radius: 10px;
    padding: 10px;
    width: 32%;
}

.ce-charts__card--title {
    align-items: center;
    color: #e42256;
    display: flex;
    font-size: 12px;
    font-style: italic;
    font-weight: 700;
    justify-content: space-between;
    margin: 0 0 10px;
}

.ce-charts__card--content {
    color: #14213d;
    font-size: 16px;
    font-weight: 700;
}

.ce-charts__card--highlight {
    color: #14213d80;
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.ce-sessions__session {
    align-items: center;
    background: #fff;
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
    padding: 10px 15px;
}

.ce-sessions__session--title {
    align-items: center;
    column-gap: 10px;
    display: flex;
}

.ce-sessions__session--task {
    color: #14213D;
    font-size: 12px;
    font-weight: 500;
    margin: 0;
}

.ce-sessions__session--highlight {
    color: #14213d80;
    display: block;
    font-size: 12px;
    font-weight: 400;
}

.ce-sessions__session--actions {
    align-items: center;
    column-gap: 5px;
    display: flex;
}
